- if @pending_projects.any?
  .invitations
    = list_pending_invites(@pending_projects)

- if current_user.projects.any?
  #activities
    = list_threads(@threads)
    = show_more_button
  = #javascript_tag autorefresh(@activities)
- else
  = render 'projects/primer'

- content_for :column do
  .more_links
    .el= link_to t('shared.instructions.subscribe_to_feeds'), feeds_path, :class => 'feeds'
    .el= link_to t('shared.instructions.subscribe_to_calendars'), calendars_path, :class => 'calendar'
    .el= link_to t('shared.collapsed_mode'), "#", :class => 'collapsed_mode'
    .el{ :style => 'display: none' }= link_to t('shared.expanded_mode'), "#", :class => 'expanded_mode'
